<div>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Create Employee
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group" [ngClass]="{'has-error' : formErrors.fullName }">
                <label class="col-sm-2 control-label"for="fullName">Fullname</label>
                <div class="col-sm-8">
                    <input formControlName="fullName" type="text" id="fullName" class="form-control" (blur)="logValidationErrors()"/>
                    
                    <span class="help-block" *ngIf="formErrors.fullName">
                            {{formErrors.fullName}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                    <label class="col-sm-2 control-label">contact preference</label>
                    <div class="col-sm-8">
                    <input type="radio" formControlName="contactPreference" value="email"/>Email
                    <input type="radio" formControlName="contactPreference" value="phone"/>Phone
                    </div>
                </div>
            <div class="form-group" [ngClass]="{'has-error' : formErrors.email }">
                <label class="col-sm-2 control-label" for="email">Email</label>
                <div class="col-sm-8">
                    <input formControlName="email" type="text" id="email" class="form-control" (blur)="logValidationErrors()"/>
                    <span class="help-block" *ngIf="formErrors.email">
                        {{formErrors.email}}
                    </span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error' : formErrors.phone }">
                    <label class="col-sm-2 control-label" for="phone">Phone</label>
                    <div class="col-sm-8">
                        <input formControlName="phone" type="text" id="phone" class="form-control" (blur)="logValidationErrors()"/>
                        <span class="help-block" *ngIf="formErrors.phone">
                            {{formErrors.phone}}
                        </span>
                    </div>
                </div>
            <div formGroupName="skills" class="well">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Skill</label>
                    <div class="col-sm-4">
                        <input id="skillName" class="form-control" formControlName="skillName" type="text" />
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-2 control-label">Experience year(s)</label>
                    <div class="col-sm-4">
                    <input type="number" id="expInYears" class="form-control" formControlName="expInYears" placeholder="Experience year"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">proficiency</label>
                    <div class="col-sm-8">
                    <input type="radio" formControlName="proficiency" value="beginner"/>Beginner
                    <input type="radio" formControlName="proficiency" value="advanced"/>Advanced
                    <input type="radio" formControlName="proficiency" value="expert" />Expert
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar">
            <button class="btn btn-primary " type="submit">save</button>
            <button class="btn btn-primary " type="button" (click)="onLoad()">load data</button>
            <button class="btn btn-primary " type="button" (click)="onLoad2()">load data2</button>
            </div>
        </div>
    </div>
</form>

</div>

<table class="table table-bordered table-condensed" style="font-size: 8pt;">
    <tr>
        <th>Group</th>
        <th>Control(fullName)</th>
    </tr>
    <tr>
        <td>
            touch : {{employeeForm.touched}}
            <br>dirty : {{employeeForm.dirty}}
            <br>valid : {{ employeeForm.valid}} 
            <br>value : {{ employeeForm.value | json}} 
        </td>
        <td>
            touch : {{employeeForm.controls.fullName.touched}}
            <br>dirty : {{employeeForm.controls.fullName.dirty}}
            <br>valid : {{ employeeForm.controls.fullName.valid}} 
            <br>fullName : {{ employeeForm.controls.fullName.value | json }}
            
            
        </td>
    </tr>
</table>