<div class="" >
<form [formGroup]="compareFormGroup" class="form-horizontal">
    <div class="well compare-form-select">

        <h4>Compare Data</h4>
        <div class="row form-group"><div class="col-sm-6">Institusi</div></div>
        
        <div class="row form-group">
            <div class="col-sm-6">
                <select class="form-control" formControlName="idInstitusiFrom" (change)="onInstitute1Change()">
                <option  *ngFor="let institute of institutes" [value]="institute.id" >
                  {{institute.name}}
                </option>
                </select>
                
            </div>
            <div class="col-sm-6">
                <select class="form-control" formControlName="idInstitusiTo" (change)="onInstitute2Change()">
                <option  *ngFor="let institute of institutes" [value]="institute.id" >
                    {{institute.name}}
                </option>
                </select>
                
            </div>
        </div>

        <div class="row form-group"><div class="col-sm-6">Database Service Setting</div></div>
        <div class="row form-group">
            <div class="col-sm-6">
                <select class="form-control" formControlName="idServiceFrom">
                <option  *ngFor="let srvc of services1" [value]="srvc.id" >
                  {{srvc.dbType}}
                </option>
                </select>
                
            </div>
            <div class="col-sm-6">
                <select class="form-control" formControlName="idServiceTo">
                <option  *ngFor="let srvc of services2" [value]="srvc.id" >
                    {{srvc.dbType}}
                </option>
                </select>
                
            </div>
        </div>
        

    </div>
    <div class="well compare-form-key">
        <h4>
            Compare Key
        <button (click)="addMoreKey()" class="btn btn-xs btn-success">Tambah</button>
        </h4>
        <div formArrayName="rekonCompareKey">
            <div *ngFor="let key of gKeys().controls; let i = index; ">
            <div [formGroupName]="i" class="row form-group">
            <div class="col-sm-11">
                <input class="form-control" type="text" formControlName="keyName" placeholder="REF">
            </div>
            <div class="col-sm-1">
                <a class="text-danger" (click)="removeKey(i)"><fa-icon [icon]="'times'" size="xs"></fa-icon></a>
            </div>
            </div>
            </div>
        </div>
        <br>
        <div class="pull-right">
            <button (click)="submitResult()" class="btn btn-primary btn-sm">Result</button>
        </div>
        <br>
        <br>
    </div>
</form>
</div>