<div class="" >
<form [formGroup]="compareFormGroup" class="form-horizontal">
    <div class="well compare-form-select">

        <h4>Compare Data</h4>
        
        <div class="row form-group">
            <div class="col-sm-6">
                <select class="form-control" formControlName="idInstitusiFrom">
                <option  *ngFor="let institute of institutes" [value]="institute.id" >
                  {{institute.name}}
                </option>
                </select>
                
            </div>
            <div class="col-sm-6">
                <select class="form-control" formControlName="idInstitusiTo">
                <option  *ngFor="let institute of institutes" [value]="institute.id" >
                    {{institute.name}}
                </option>
                </select>
                
            </div>
        </div>
        

    </div>
    <div class="well compare-form-key">
        <h4>
            Compare Key
        <button (click)="addMoreKey()" class="btn btn-sm btn-success">Tambah</button>
        </h4>
        <div formArrayName="rekonCompareKey"
            *ngFor="let key of compareFormGroup.get('rekonCompareKey'); let i = index;">
            <div [formGroupName]="i">
                <input formControlName="keyName" placeholder="Key">
                <a class="text-danger" (click)="removeKey(i)"><fa-icon [icon]="'times'" size="xs"></fa-icon></a>
            </div>
        </div>
        <br>
        <div class="pull-right">
            <button (click)="submitResult()" class="btn btn-primary btn-sm">Result</button>
        </div>
        <br>
    </div>
</form>
</div>