<div class="well new-institute-form">
    
    <form [formGroup]="instituteForm" class="form-horizontal card card-body bg-light m-1">
    <h3>Institute</h3>
    <div class="row form-group ">
        <div class="col-sm-6">
            <label class="control-label" for="institusiTabel">Institute Table</label><br>
            <input formControlName="institusiTabel" type="text" id="institusiTabel" class="form-control"/>
        </div>
        <div class="col-sm-6">
            <label class="control-label" for="institusiName">Name</label><br>
            <input formControlName="name" type="text" id="institusiName" class="form-control"/>
        </div>
    </div>
    <div class="form-group ">
        
        <button class="btn btn-dark btn-sm float-left" (click)="previousState()">Back</button>
        <button class="btn btn-primary btn-sm float-right" (click)="updateInstitute()" [disabled]="isUpdating">Submit</button>
    </div>
    </form>

</div>